<!-- General -->
{{ with .Site.Params.Social.Email}}
<a href="mailto:{{.}}" rel="me noopener noreffer" target="_blank"><i class="fas fa-envelope"></i></a>
{{ end }}

{{ with .Site.Params.Social.Github }}
<a href="https://github.com/{{.}}" target="_blank" rel="me noopener noreffer" target="_blank"><i class="fab fa-github-alt"></i></a>
{{ end }}

{{ with .Site.Params.Social.ORCID }}
<a href=" https://orcid.org/{{.}}/" target="_blank" rel="me noopener noreffer" target="_blank"><i class="ai ai-orcid"></i></a>
{{ end }}

{{ with .Site.Params.Social.OSF }}
<a href=" https://osf.io/{{.}}/" target="_blank" rel="me noopener noreffer" target="_blank"><i class="ai ai-osf"></i></a>
{{ end }}

{{ with .Site.Params.Social.Googlescholar}}
<a href="https://scholar.google.com/citations?user={{ . }}" rel="me noopener noreffer" target="_blank"><i class="ai ai-google-scholar-square"></i></a>
{{ end }}

{{ with .Site.Params.Social.Twitter }}
<a href="https://twitter.com/{{.}}" target="_blank" rel="me noopener noreffer" target="_blank"><i class="fab fa-twitter"></i></a>
{{ end }}
