/** light theme **/

$light-background-color: #fdfdfd;

$light-font-color: #0d161b;
$light-font-secondary-color: #a9a9b3;

$light-navbar-active-color: #161209;

$light-global-link-color: #39a26c;
$light-global-link-hover-color:#abc829;

$light-post-link-color: #39a26c;
$light-post-link-hover-color:#abc829;

$light-pagination-link-color : #39a26c;
$light-pagination-link-active-color: #abc829;

$light-border-color: #ebe9f5;



/** dark theme **/

$dark-background-color: #0d161b;

$dark-font-color: #fdfdfd;
$dark-font-secondary-color: #87878d;

$dark-navbar-active-color: #fff;

$dark-global-link-color: #6cdda3;
$dark-global-link-hover-color:#d4e782;

$dark-post-link-color: #6cdda3;
$dark-post-link-hover-color:#d4e782;

$dark-pagination-link-color : #6cdda3;
$dark-pagination-link-active-color: #d4e782;

$dark-border-color: #606a6a;
