
  /** Home **/

@media (max-width: 767px) {

  .navbar a {
    color: $light-global-link-color;
    a:hover {
      color: $light-global-link-hover-color !important;
    }
  }

  .intro-footer .footer .copyright {
    font-size: 0.75em;
    text-align: right;
    line-height: 1em;
  }

  .social-top, .social-bottom {
    display: block;
  }

  .social-main {
    display: none;
  }

  .intro-body{
    background-image: linear-gradient(to bottom, $dark-background-color, $dark-background-color 50%, $light-background-color 50%, $light-background-color);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .intro-left, .intro-right{
    padding-left: 2em;
    padding-right: 2em;
  }

  .social-links{
    font-size: 0.75em;
  }
  .intro h1 {
    font-size: 1.25em;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  .intro-footer .footer .copyright {
    font-size: 0.75em;
    width: 40%;
    float: right;
    line-height: 1.2em;
  }

  .social-top, .social-bottom {
    display: none;
  }

  .intro-left, .intro-right{
    padding-left: 5em;
    padding-right: 5em;
  }

  .social-links {
    font-size: 0.75em;
    margin-left: -5em;
    margin-right: -5em;
  }

  .intro h1 {
    font-size: 1.5em;
  }
}

@media (min-width: 992px) {

   .intro-footer .footer {
     font-size: 1em;
     width: 40%;
     float: right;
     line-height: 1.5em !important;
   }

  .intro-left, .intro-right {
    padding-left: 8em;
    padding-right: 8em;
    line-height: 3em;
  }

  .social-top, .social-bottom {
    display: none;
  }
}

@media (min-width: 768px) {
    .intro-body{
      background-image: linear-gradient(to right, $dark-background-color, $dark-background-color 50%, $light-background-color 50%, $light-background-color);
      background-size: cover;
      background-repeat: no-repeat;
    }

    .intro {
      -webkit-transform: translateY(25vh);
      -moz-transform: translateY(25vh);
      -ms-transform: translateY(25vh);
      -o-transform: translateY(25vh);
      transform: translateY(25vh);
    }
}

.intro-container{
  max-width: 100%
}

.intro-footer .footer {
  text-align: right;
  line-height: 2rem;
  padding-right: 2em;
}

.intro-left {
  color: $dark-font-color !important;
}

.intro-right a {
  color: $light-global-link-color;
  a:hover {
    color: $light-global-link-hover-color !important;
  }
}

.intro-right h1 {
  color: $light-font-color !important;
}

.intro{
  text-align: center;
}

@media (max-width: 767px) {
    .intro {
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    .social-top {
      position: absolute;
      width: 100%;
      top: 25%;
    }

    .intro-left{
      position: absolute;
      top: 35%;
    }

    .intro-avatar {
      position: absolute;
      top: 50%;
    }

    .intro-right{
      position: absolute;
      top: 65%;
    }

    .social-bottom {
      position: absolute;
      top: 75%;
      width: 100%;
    }
  }

  .intro-avatar {
      //padding: 10px;

      display: block;
      @media only screen and (min-width: 500px) { position: absolute; }
      //@media only screen and (max-width:  499px) { position: relative; }

      margin-left: auto;
      margin-right: auto;

      width: 100%;
      left: 0px;
      text-align: center;

      img {
        width: 128px;
        height: auto;
        //display: inline-block;
        -webkit-border-radius: 100%;
        border-radius: 100%;
        -webkit-box-shadow: 0 0 0 0.3618em rgba(0, 0, 0, 0.05);
        box-shadow: 0 0 0 0.3618em rgba(0, 0, 0, 0.05);
        margin: 0 auto;
        -webkit-transition: all ease 0.4s;
        -moz-transition: all ease 0.4s;
        -o-transition: all ease 0.4s;
        transition: all ease 0.4s;
        //cursor: pointer;
        &:hover {
          //position: relative;
          //-webkit-transform: translateY(-0.75em);
          //-moz-transform: translateY(-0.75em);
          //-ms-transform: translateY(-0.75em);
          //-o-transform: translateY(-0.75em);
          //transform: translateY(-0.75em);
          //cursor: pointer;
        }
      }
    }

  h2.description {
    font-size: 1em;
    font-weight: normal;
    padding: 5px;
  }

  .social-links {
    a {
      font-size: 2em;
      padding: 0 5px;

      &:hover {

        background-color: transparent;
      }
    }
    .ai {
      font-size: 1.15em;
    }
  }
